.i-phone-13-mini-2,
.i-phone-13-mini-2 * {
  box-sizing: border-box;
}
.i-phone-13-mini-2 {
  background: var(--tertiarylightshades-tertiary-10, #f1f2f3);
  width: 375px;
  height: 2172px;
  position: relative;
  overflow: hidden;
}
.frame-775 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 311px;
  top: 59px;
}
.vuesax-outline-menu {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.vuesax-outline-menu2 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.waterways-logo-rect-purple-2 {
  width: 130px;
  height: 54px;
  position: absolute;
  left: 20px;
  top: 54px;
}
.frame-773 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
  top: 166px;
}
.portfolio {
  color: var(--primarylightshades-primary-100, #6404a3);
  text-align: left;
  font-family: var(
    --boldtextstyle-35-bold-font-family,
    "Quicksand-Bold",
    sans-serif
  );
  font-size: var(--boldtextstyle-35-bold-font-size, 35px);
  line-height: var(--boldtextstyle-35-bold-line-height, 130.5%);
  font-weight: var(--boldtextstyle-35-bold-font-weight, 700);
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.lorem-occaecat-proident-excepteur-commodo-et-nulla-eiusmod-elit-esse-aute-officia-dolor-elit-aute {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: var(
    --medium-14-medium-font-family,
    "Quicksand-Medium",
    sans-serif
  );
  font-size: var(--medium-14-medium-font-size, 14px);
  line-height: var(--medium-14-medium-line-height, 130.5%);
  font-weight: var(--medium-14-medium-font-weight, 500);
  position: relative;
  width: 335px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-336 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 389.58px;
}
.container-84 {
  background: var(--primarylightshades-primary-10, #f5e6fe);
  border-radius: 7.89px;
  padding: 27.63px 47.37px 27.63px 47.37px;
  flex-shrink: 0;
  width: 375px;
  height: 365.13px;
  position: relative;
  overflow: hidden;
}
.button-40 {
  background: rgba(0, 0, 0, 0);
  border-radius: 3.95px;
  border-style: solid;
  border-color: var(--secondarydarkshades-secondary-100, #fe7200);
  border-width: 0.99px;
  padding: 8.88px 15.79px 8.88px 15.79px;
  display: flex;
  flex-direction: column;
  gap: 9.87px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 20.72px;
  bottom: 9.58px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}
.frame-330 {
  display: flex;
  flex-direction: row;
  gap: 9.87px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.view-project {
  color: var(--secondarydarkshades-secondary-100, #fe7200);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
}
.arrow-left {
  flex-shrink: 0;
  width: 19.74px;
  height: 19.74px;
  position: relative;
  transform: translate(-19.74px, 0px);
  overflow: visible;
}
.frame-312 {
  display: flex;
  flex-direction: column;
  gap: 6.11px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 166.78px);
  top: 14.8px;
}
.frame-311 {
  display: flex;
  flex-direction: column;
  gap: 3.06px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.apple-rebranding {
  color: var(--primarylightshades-primary-100, #6404a3);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.paris-secrets {
  color: #323842;
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 18px;
  line-height: 130.5%;
  font-weight: 700;
  position: relative;
  width: 334.54px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.sint-occaecat-deserunt-aliquip-do-occaecat-ut-quis-cupidatat-magna-fugiat-quis-sit-duis-est-in-volup {
  color: #323842;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  width: 334.54px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-328 {
  width: 336.51px;
  height: 190.47px;
  position: absolute;
  left: calc(50% - 167.76px);
  top: 109.82px;
}
.image-57 {
  width: 98.84px;
  height: 170.48px;
  position: absolute;
  left: 118.83px;
  top: 0px;
}
.image-58 {
  width: 98.84px;
  height: 170.48px;
  position: absolute;
  left: 0px;
  top: 19.99px;
}
.image-59 {
  width: 98.84px;
  height: 170.48px;
  position: absolute;
  left: 237.67px;
  top: 19.99px;
}
.container-85 {
  background: #ebfdff;
  border-radius: 7.89px;
  padding: 27.63px 47.37px 27.63px 47.37px;
  flex-shrink: 0;
  width: 375px;
  height: 365.13px;
  position: relative;
  overflow: hidden;
}
.arrow-left2 {
  flex-shrink: 0;
  width: 19.74px;
  height: 19.74px;
  position: relative;
  transform: translate(-19.74px, 0px);
  overflow: visible;
}
.frame-331 {
  display: flex;
  flex-direction: row;
  gap: 11.84px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 125.33px);
  top: 127.3px;
}
.image-60 {
  flex-shrink: 0;
  width: 106.26px;
  height: 126.32px;
  position: relative;
}
.image-61 {
  flex-shrink: 0;
  width: 132.82px;
  height: 157.89px;
  position: relative;
}
.container-86 {
  background: #f5e6fe;
  border-radius: 7.89px;
  padding: 27.63px 47.37px 27.63px 47.37px;
  flex-shrink: 0;
  width: 375px;
  height: 365.13px;
  position: relative;
  overflow: hidden;
}
.arrow-left3 {
  flex-shrink: 0;
  width: 19.74px;
  height: 19.74px;
  position: relative;
  transform: translate(-19.74px, 0px);
  overflow: visible;
}
.image-63 {
  width: 98.87px;
  height: 170.53px;
  position: absolute;
  left: 119.31px;
  top: -0.19px;
}
.image-62 {
  width: 98.87px;
  height: 170.53px;
  position: absolute;
  left: -0.09px;
  top: 19.55px;
}
.image-64 {
  width: 98.87px;
  height: 170.53px;
  position: absolute;
  left: 237.74px;
  top: 19.55px;
}
.container-87 {
  background: #ebfdff;
  border-radius: 7.89px;
  padding: 27.63px 47.37px 27.63px 47.37px;
  flex-shrink: 0;
  width: 375px;
  height: 341.45px;
  position: relative;
  overflow: hidden;
}
.arrow-left4 {
  flex-shrink: 0;
  width: 19.74px;
  height: 19.74px;
  position: relative;
  transform: translate(-19.74px, 0px);
  overflow: visible;
}
.frame-332 {
  display: flex;
  flex-direction: row;
  gap: 12.83px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 125.82px);
  top: 0.21px;
}
.image-66 {
  border-radius: 1.49px 1.49px 0px 0px;
  flex-shrink: 0;
  width: 106.25px;
  height: 126.32px;
  position: relative;
}
.image-65 {
  flex-shrink: 0;
  width: 133.21px;
  height: 157.89px;
  position: relative;
}
.container-872 {
  background: var(--primarylightshades-primary-100, #6404a3);
  padding: 28px 48px 28px 48px;
  width: 375px;
  height: 346px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
.frame-175 {
  width: 70px;
  height: 28.6px;
  position: absolute;
  left: 21px;
  top: 18px;
}
.waterways-logo-rect-white-1 {
  width: 70px;
  height: 28.6px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-321 {
  display: flex;
  flex-direction: column;
  gap: 11.51px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 140px;
  top: 17px;
}
.frame-319 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.subscribe-to-our-newsletter {
  color: var(--secondary-light-shades-secondary-10, #fff1e5);
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 600;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.for-product-announcements-and-exclusive-insights {
  color: var(--primarylightshades-primary-10, #f5e6fe);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 6px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-320 {
  display: flex;
  flex-direction: row;
  gap: 0.58px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.textbox-19 {
  background: #eaecef;
  border-radius: 2.3px 0px 0px 2.3px;
  flex-shrink: 0;
  width: 154.82px;
  height: 20.14px;
  position: relative;
}
.input-your-email {
  color: var(--tertiary-dark-shades-tertiary-90, #4c4d56);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 8px;
  line-height: 130.5%;
  font-weight: 500;
  position: absolute;
  right: 1.73px;
  left: 21.294921875px;
  top: calc(50% - 4.89px);
}
.mail {
  width: 9.21px;
  height: 9.21px;
  position: absolute;
  left: 6.91px;
  top: calc(50% - 4.32px);
  transform: translate(0px, 0px);
  overflow: visible;
}
.button-48 {
  background: var(--secondarydarkshades-secondary-100, #fe7200);
  border-radius: 0px 2.3px 2.3px 0px;
  flex-shrink: 0;
  width: 65.61px;
  height: 20.72px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}
.subscribe {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 10px;
  line-height: 130.5%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 24.17px);
  top: calc(50% - 6.33px);
}
.frame-333 {
  display: flex;
  flex-direction: row;
  gap: 46px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 166.5px);
  top: calc(50% - 69px);
}
.frame-323 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product {
  color: var(--tertiarylightshades-tertiary-10, #f1f2f3);
  text-align: left;
  font-family: var(
    --boldtextstyle-14-bold-font-family,
    "Quicksand-Bold",
    sans-serif
  );
  font-size: var(--boldtextstyle-14-bold-font-size, 14px);
  line-height: var(--boldtextstyle-14-bold-line-height, 130.5%);
  font-weight: var(--boldtextstyle-14-bold-font-weight, 700);
  position: relative;
  width: 93px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-322 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.features {
  color: var(--primarylightshades-primary-10, #f5e6fe);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  width: 93px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.pricing {
  color: var(--primarylightshades-primary-10, #f5e6fe);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  width: 93px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-325 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.resources {
  color: var(--tertiarylightshades-tertiary-10, #f1f2f3);
  text-align: left;
  font-family: var(
    --boldtextstyle-14-bold-font-family,
    "Quicksand-Bold",
    sans-serif
  );
  font-size: var(--boldtextstyle-14-bold-font-size, 14px);
  line-height: var(--boldtextstyle-14-bold-line-height, 130.5%);
  font-weight: var(--boldtextstyle-14-bold-font-weight, 700);
  position: relative;
  width: 74px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-324 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.blog {
  color: var(--primarylightshades-primary-10, #f5e6fe);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  width: 71px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.user-guides {
  color: var(--primarylightshades-primary-10, #f5e6fe);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  width: 71px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-327 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.company {
  color: var(--tertiarylightshades-tertiary-10, #f1f2f3);
  text-align: left;
  font-family: var(
    --boldtextstyle-14-bold-font-family,
    "Quicksand-Bold",
    sans-serif
  );
  font-size: var(--boldtextstyle-14-bold-font-size, 14px);
  line-height: var(--boldtextstyle-14-bold-line-height, 130.5%);
  font-weight: var(--boldtextstyle-14-bold-font-weight, 700);
  position: relative;
  width: 81px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-326 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: var(--primarylightshades-primary-10, #f5e6fe);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  width: 81px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.join-us {
  color: var(--primarylightshades-primary-10, #f5e6fe);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
  width: 81px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.textbox-18 {
  background: var(--primarylightshades-primary-10, #f5e6fe);
  border-radius: 4px;
  padding: 4px 11px 4px 11px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 21px;
  bottom: 79px;
}
.frame-335 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.english {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 12px;
  line-height: 130.5%;
  font-weight: 500;
  position: relative;
}
.chevron-down-large {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
._2023-waterways-digital-world-all-rights {
  color: #f1f1f1;
  text-align: left;
  font-family: var(
    --medium-12-medium-font-family,
    "Quicksand-Medium",
    sans-serif
  );
  font-size: var(--medium-12-medium-font-size, 12px);
  line-height: var(--medium-12-medium-line-height, 130.5%);
  font-weight: var(--medium-12-medium-font-weight, 500);
  position: absolute;
  left: calc(50% - 117.5px);
  bottom: 32px;
}
.frame-318 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 24px;
  position: absolute;
  right: 14px;
  bottom: 79px;
}
.logo-twitter-2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.logo-facebook-2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.logo-linkedin-2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.logo-youtube-2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.vector-21 {
  width: 126.5px;
  height: 0px;
  position: absolute;
  left: calc(50% - 60.5px);
  bottom: 13.5px;
  overflow: visible;
}
.rolling {
  width: 94.21px;
  height: 92.6px;
  position: absolute;
  right: 22.79px;
  top: 290px;
}
.frame-309 {
  width: 73.28px;
  height: 73px;
  position: absolute;
  left: 10.47px;
  top: 9.66px;
}
.arrow-and-text {
  width: 73.28px;
  height: 73px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.our-portfolio-rounded {
  width: 73.28px;
  height: 73px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.o {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 31.8px;
  top: 73px;
  width: 5.17px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-168.376deg) scale(1, 1);
}
.u {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 24.81px;
  top: 71.32px;
  width: 4.02px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-158.02deg) scale(1, 1);
}
.r {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 19.46px;
  top: 68.98px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-149.628deg) scale(1, 1);
}
.div {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 15.49px;
  top: 66.51px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-143.2deg) scale(1, 1);
}
.p {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 12.6px;
  top: 64.3px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-135.701deg) scale(1, 1);
}
.o2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 8.3px;
  top: 59.88px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-126.059deg) scale(1, 1);
}
.r2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 4.89px;
  top: 54.89px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-117.488deg) scale(1, 1);
}
.t {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 2.79px;
  top: 50.6px;
  width: 2.87px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-110.167deg) scale(1, 1);
}
.f {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 1.31px;
  top: 46.27px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-102.847deg) scale(1, 1);
}
.o3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 0.31px;
  top: 41.47px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-94.276deg) scale(1, 1);
}
.l {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 0.06px;
  top: 35.54px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-86.777deg) scale(1, 1);
}
.i {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 0.32px;
  top: 32.15px;
  width: 1.72px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-81.599deg) scale(1, 1);
}
.o4 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 0.85px;
  top: 28.75px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-74.278deg) scale(1, 1);
}
.div2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 2.64px;
  top: 23.1px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-66.779deg) scale(1, 1);
}
.div3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 4.07px;
  top: 19.93px;
  width: 2.49px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-60.887deg) scale(1, 1);
}
.div4 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 6.13px;
  top: 16.44px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-54.994deg) scale(1, 1);
}
.o5 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 8.28px;
  top: 13.38px;
  width: 5.17px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-46.602deg) scale(1, 1);
}
.u2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 13.39px;
  top: 8.32px;
  width: 4.02px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-36.246deg) scale(1, 1);
}
.r3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 18.2px;
  top: 5.01px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-27.854deg) scale(1, 1);
}
.div5 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 22.39px;
  top: 2.93px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-21.426deg) scale(1, 1);
}
.p2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 25.79px;
  top: 1.64px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-13.927deg) scale(1, 1);
}
.o6 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 31.81px;
  top: 0.31px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(-4.285deg) scale(1, 1);
}
.r4 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 37.85px;
  top: 0.04px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(4.285deg) scale(1, 1);
}
.t2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 42.6px;
  top: 0.51px;
  width: 2.87px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(11.606deg) scale(1, 1);
}
.f2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 47.06px;
  top: 1.54px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(18.927deg) scale(1, 1);
}
.o7 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 51.67px;
  top: 3.22px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(27.497deg) scale(1, 1);
}
.l2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 56.84px;
  top: 6.12px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(34.996deg) scale(1, 1);
}
.i2 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 59.59px;
  top: 8.13px;
  width: 1.72px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(40.175deg) scale(1, 1);
}
.o8 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 62.2px;
  top: 10.37px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(47.495deg) scale(1, 1);
}
.div6 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 66.06px;
  top: 14.87px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(54.994deg) scale(1, 1);
}
.div7 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 68px;
  top: 17.76px;
  width: 2.49px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(60.887deg) scale(1, 1);
}
.div8 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 69.89px;
  top: 21.34px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(66.779deg) scale(1, 1);
}
.o9 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 71.35px;
  top: 24.78px;
  width: 5.17px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(75.171deg) scale(1, 1);
}
.u3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 72.96px;
  top: 31.79px;
  width: 4.02px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(85.527deg) scale(1, 1);
}
.r5 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 73.25px;
  top: 37.62px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(93.919deg) scale(1, 1);
}
.div9 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 72.81px;
  top: 42.27px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(100.347deg) scale(1, 1);
}
.p3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 72.12px;
  top: 45.85px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(107.846deg) scale(1, 1);
}
.o10 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 70.07px;
  top: 51.66px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(117.488deg) scale(1, 1);
}
.r6 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 67.12px;
  top: 56.94px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(126.059deg) scale(1, 1);
}
.t3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 64.22px;
  top: 60.73px;
  width: 2.87px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(133.379deg) scale(1, 1);
}
.f3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 63.99px;
  width: 3.06px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(140.7deg) scale(1, 1);
}
.o11 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 57.15px;
  top: 67.02px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(149.271deg) scale(1, 1);
}
.l3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 51.95px;
  top: 69.89px;
  width: 1.91px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(156.77deg) scale(1, 1);
}
.i3 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 48.8px;
  top: 71.16px;
  width: 1.72px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(161.948deg) scale(1, 1);
}
.o12 {
  color: var(--tertiary-dark-shades-tertiary-40, #242529);
  text-align: left;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 8.156407356262207px;
  font-weight: 700;
  position: absolute;
  left: 45.52px;
  top: 72.2px;
  width: 4.21px;
  height: 8.42px;
  transform-origin: 0 0;
  transform: rotate(169.269deg) scale(1, 1);
}
.vector-20 {
  width: 0px;
  height: 27.73px;
  position: absolute;
  left: 36.59px;
  top: 22.84px;
  transform: translate(-4.04px, -0.7px);
  overflow: visible;
}
.frame-1 {
  border-radius: 20px 20px 0px 0px;
  width: 375px;
  height: 44px;
  position: sticky;
  left: calc(50% - 187.5px);
  top: 0px;
  overflow: hidden;
}
._1-00-pm {
  color: var(--text-color, #3a3a3a);
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 14px;
}
.group-31 {
  height: auto;
  position: absolute;
  right: 5.64%;
  left: 89.49%;
  width: 4.87%;
  bottom: 40.61%;
  top: 38.64%;
  height: 20.75%;
  overflow: visible;
}
.group-68 {
  height: auto;
  position: absolute;
  left: 298.4px;
  top: 17px;
  overflow: visible;
}
.group-69 {
  height: auto;
  position: absolute;
  right: 12.33%;
  left: 84.53%;
  width: 3.13%;
  bottom: 39.2%;
  top: 34.09%;
  height: 26.71%;
  overflow: visible;
}
