/* Figma Styles of your File */
:root {
  /* Colors */
  --primarylightshades-primary-100: #6404a3;
  --primarylightshades-primary-90: #741dad;
  --primarylightshades-primary-80: #8436b7;
  --primarylightshades-primary-70: #944fc1;
  --primarylightshades-primary-60: #a468cb;
  --primarylightshades-primary-50: #b481d5;
  --primarylightshades-primary-40: #c49adf;
  --primarylightshades-primary-30: #d4b3e9;
  --primarylightshades-primary-20: #e4ccf3;
  --primarylightshades-primary-10: #f5e6fe;
  --primary-dark-shades-primary-100: #6404a3;
  --primary-dark-shades-primary-90: #570191;
  --primary-dark-shades-primary-80: #4e0182;
  --primary-dark-shades-primary-70: #450173;
  --primary-dark-shades-primary-60: #3c0164;
  --primary-dark-shades-primary-50: #330155;
  --primary-dark-shades-primary-40: #2a0146;
  --primary-dark-shades-primary-30: #210137;
  --primary-dark-shades-primary-20: #180128;
  --primary-dark-shades-primary-10: #0f0119;
  --secondarydarkshades-secondary-100: #fe7200;
  --secondarydarkshades-secondary-90: #e26300;
  --secondarydarkshades-secondary-80: #c95800;
  --secondarydarkshades-secondary-70: #b04d00;
  --secondarydarkshades-secondary-60: #974200;
  --secondarydarkshades-secondary-50: #7e3700;
  --secondarydarkshades-secondary-40: #652c00;
  --secondarydarkshades-secondary-30: #4c2100;
  --secondarydarkshades-secondary-20: #331600;
  --secondarydarkshades-secondary-10: #1a0b00;
  --secondary-light-shades-secondary-100: #fe7200;
  --secondary-light-shades-secondary-90: #fe8019;
  --secondary-light-shades-secondary-80: #fe8e32;
  --secondary-light-shades-secondary-70: #fe9c4b;
  --secondary-light-shades-secondary-60: #feaa64;
  --secondary-light-shades-secondary-50: #feb87d;
  --secondary-light-shades-secondary-40: #fec696;
  --secondary-light-shades-secondary-30: #fed4af;
  --secondary-light-shades-secondary-20: #fee2c8;
  --secondary-light-shades-secondary-10: #fff1e5;
  --tertiarylightshades-tertiary-100: #54595f;
  --tertiarylightshades-tertiary-90: #656a6f;
  --tertiarylightshades-tertiary-80: #767b7f;
  --tertiarylightshades-tertiary-70: #878c8f;
  --tertiarylightshades-tertiary-60: #989d9f;
  --tertiarylightshades-tertiary-50: #a9aeaf;
  --tertiarylightshades-tertiary-40: #babfbf;
  --tertiarylightshades-tertiary-30: #cbd0cf;
  --tertiarylightshades-tertiary-20: #dce1df;
  --tertiarylightshades-tertiary-10: #f1f2f3;
  --tertiary-dark-shades-tertiary-100: #54595f;
  --tertiary-dark-shades-tertiary-90: #4c4d56;
  --tertiary-dark-shades-tertiary-80: #44454d;
  --tertiary-dark-shades-tertiary-70: #3c3d44;
  --tertiary-dark-shades-tertiary-60: #34353b;
  --tertiary-dark-shades-tertiary-50: #2c2d32;
  --tertiary-dark-shades-tertiary-40: #242529;
  --tertiary-dark-shades-tertiary-30: #1c1d20;
  --tertiary-dark-shades-tertiary-20: #141517;
  --tertiary-dark-shades-tertiary-10: #0c0d0e;

  /* Fonts */
  --boldtextstyle-69-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-69-bold-font-size: 69px;
  --boldtextstyle-69-bold-line-height: 130.5%;
  --boldtextstyle-69-bold-font-weight: 700;
  --boldtextstyle-69-bold-font-style: normal;
  --boldtextstyle-55-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-55-bold-font-size: 55px;
  --boldtextstyle-55-bold-line-height: 130.5%;
  --boldtextstyle-55-bold-font-weight: 700;
  --boldtextstyle-55-bold-font-style: normal;
  --boldtextstyle-44-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-44-bold-font-size: 44px;
  --boldtextstyle-44-bold-line-height: 130.5%;
  --boldtextstyle-44-bold-font-weight: 700;
  --boldtextstyle-44-bold-font-style: normal;
  --boldtextstyle-35-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-35-bold-font-size: 35px;
  --boldtextstyle-35-bold-line-height: 130.5%;
  --boldtextstyle-35-bold-font-weight: 700;
  --boldtextstyle-35-bold-font-style: normal;
  --boldtextstyle-23-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-23-bold-font-size: 28px;
  --boldtextstyle-23-bold-line-height: 130.5%;
  --boldtextstyle-23-bold-font-weight: 700;
  --boldtextstyle-23-bold-font-style: normal;
  --boldtextstyle-23-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-23-bold-font-size: 23px;
  --boldtextstyle-23-bold-line-height: 130.5%;
  --boldtextstyle-23-bold-font-weight: 700;
  --boldtextstyle-23-bold-font-style: normal;
  --boldtextstyle-18-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-18-bold-font-size: 18px;
  --boldtextstyle-18-bold-line-height: 130.5%;
  --boldtextstyle-18-bold-font-weight: 700;
  --boldtextstyle-18-bold-font-style: normal;
  --boldtextstyle-14-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-14-bold-font-size: 14px;
  --boldtextstyle-14-bold-line-height: 130.5%;
  --boldtextstyle-14-bold-font-weight: 700;
  --boldtextstyle-14-bold-font-style: normal;
  --boldtextstyle-12-bold-font-family: Quicksand-Bold, sans-serif;
  --boldtextstyle-12-bold-font-size: 12px;
  --boldtextstyle-12-bold-line-height: 130.5%;
  --boldtextstyle-12-bold-font-weight: 700;
  --boldtextstyle-12-bold-font-style: normal;
  --semi-bold-69-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-69-semi-bold-font-size: 69px;
  --semi-bold-69-semi-bold-line-height: 130.5%;
  --semi-bold-69-semi-bold-font-weight: 600;
  --semi-bold-69-semi-bold-font-style: normal;
  --semi-bold-55-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-55-semi-bold-font-size: 55px;
  --semi-bold-55-semi-bold-line-height: 130.5%;
  --semi-bold-55-semi-bold-font-weight: 600;
  --semi-bold-55-semi-bold-font-style: normal;
  --semi-bold-44-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-44-semi-bold-font-size: 44px;
  --semi-bold-44-semi-bold-line-height: 130.5%;
  --semi-bold-44-semi-bold-font-weight: 600;
  --semi-bold-44-semi-bold-font-style: normal;
  --semi-bold-35-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-35-semi-bold-font-size: 35px;
  --semi-bold-35-semi-bold-line-height: 130.5%;
  --semi-bold-35-semi-bold-font-weight: 600;
  --semi-bold-35-semi-bold-font-style: normal;
  --semi-bold-28-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-28-semi-bold-font-size: 28px;
  --semi-bold-28-semi-bold-line-height: 130.5%;
  --semi-bold-28-semi-bold-font-weight: 600;
  --semi-bold-28-semi-bold-font-style: normal;
  --semi-bold-23-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-23-semi-bold-font-size: 23px;
  --semi-bold-23-semi-bold-line-height: 130.5%;
  --semi-bold-23-semi-bold-font-weight: 600;
  --semi-bold-23-semi-bold-font-style: normal;
  --semi-bold-18-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-18-semi-bold-font-size: 18px;
  --semi-bold-18-semi-bold-line-height: 130.5%;
  --semi-bold-18-semi-bold-font-weight: 600;
  --semi-bold-18-semi-bold-font-style: normal;
  --semi-bold-14-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-14-semi-bold-font-size: 14px;
  --semi-bold-14-semi-bold-line-height: 130.5%;
  --semi-bold-14-semi-bold-font-weight: 600;
  --semi-bold-14-semi-bold-font-style: normal;
  --semi-bold-12-semi-bold-font-family: Quicksand-SemiBold, sans-serif;
  --semi-bold-12-semi-bold-font-size: 12px;
  --semi-bold-12-semi-bold-line-height: 130.5%;
  --semi-bold-12-semi-bold-font-weight: 600;
  --semi-bold-12-semi-bold-font-style: normal;
  --medium-69-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-69-medium-font-size: 69px;
  --medium-69-medium-line-height: 130.5%;
  --medium-69-medium-font-weight: 500;
  --medium-69-medium-font-style: normal;
  --medium-55-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-55-medium-font-size: 55px;
  --medium-55-medium-line-height: 130.5%;
  --medium-55-medium-font-weight: 500;
  --medium-55-medium-font-style: normal;
  --medium-44-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-44-medium-font-size: 44px;
  --medium-44-medium-line-height: 130.5%;
  --medium-44-medium-font-weight: 500;
  --medium-44-medium-font-style: normal;
  --medium-35-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-35-medium-font-size: 35px;
  --medium-35-medium-line-height: 130.5%;
  --medium-35-medium-font-weight: 500;
  --medium-35-medium-font-style: normal;
  --medium-28-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-28-medium-font-size: 28px;
  --medium-28-medium-line-height: 130.5%;
  --medium-28-medium-font-weight: 500;
  --medium-28-medium-font-style: normal;
  --medium-23-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-23-medium-font-size: 23px;
  --medium-23-medium-line-height: 149%;
  --medium-23-medium-font-weight: 500;
  --medium-23-medium-font-style: normal;
  --medium-18-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-18-medium-font-size: 18px;
  --medium-18-medium-line-height: 140%;
  --medium-18-medium-font-weight: 500;
  --medium-18-medium-font-style: normal;
  --medium-14-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-14-medium-font-size: 14px;
  --medium-14-medium-line-height: 130.5%;
  --medium-14-medium-font-weight: 500;
  --medium-14-medium-font-style: normal;
  --medium-12-medium-font-family: Quicksand-Medium, sans-serif;
  --medium-12-medium-font-size: 12px;
  --medium-12-medium-line-height: 130.5%;
  --medium-12-medium-font-weight: 500;
  --medium-12-medium-font-style: normal;
  --regular-69-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-69-regular-font-size: 69px;
  --regular-69-regular-line-height: 130.5%;
  --regular-69-regular-font-weight: 400;
  --regular-69-regular-font-style: normal;
  --regular-55-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-55-regular-font-size: 55px;
  --regular-55-regular-line-height: 130.5%;
  --regular-55-regular-font-weight: 400;
  --regular-55-regular-font-style: normal;
  --regular-44-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-44-regular-font-size: 44px;
  --regular-44-regular-line-height: 130.5%;
  --regular-44-regular-font-weight: 400;
  --regular-44-regular-font-style: normal;
  --regular-35-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-35-regular-font-size: 35px;
  --regular-35-regular-line-height: 130.5%;
  --regular-35-regular-font-weight: 400;
  --regular-35-regular-font-style: normal;
  --regular-28-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-28-regular-font-size: 28px;
  --regular-28-regular-line-height: 130.5%;
  --regular-28-regular-font-weight: 400;
  --regular-28-regular-font-style: normal;
  --regular-23-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-23-regular-font-size: 23px;
  --regular-23-regular-line-height: 130.5%;
  --regular-23-regular-font-weight: 400;
  --regular-23-regular-font-style: normal;
  --regular-18-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-18-regular-font-size: 18px;
  --regular-18-regular-line-height: 140%;
  --regular-18-regular-font-weight: 400;
  --regular-18-regular-font-style: normal;
  --regular-14-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-14-regular-font-size: 14px;
  --regular-14-regular-line-height: 130.5%;
  --regular-14-regular-font-weight: 400;
  --regular-14-regular-font-style: normal;
  --regular-12-regular-font-family: Quicksand-Regular, sans-serif;
  --regular-12-regular-font-size: 12px;
  --regular-12-regular-line-height: 130.5%;
  --regular-12-regular-font-weight: 400;
  --regular-12-regular-font-style: normal;

  /* Effects */
}
